common --announce_rc

build --experimental_enable_bzlmod
# build --experimental_repository_resolved_file=resolved.bzl

# This allows below `:linux` to be chosen automatically on say linux, without --config=linux
common --enable_platform_specific_config
build:linux --cxxopt='-std=c++17'

startup --windows_enable_symlinks

# User, temp, repo & disk cache folders
startup --output_user_root=../.out/user
common --repository_cache=../.out/repo
common --experimental_repository_cache_hardlinks
build --disk_cache=../.out/disk

build --nolegacy_external_runfiles
build --nobuild_runfile_links

build --experimental_convenience_symlinks=clean
build --experimental_remotable_source_manifests=true

build --experimental_cc_shared_library 
build --experimental_disable_external_package
